@using ProductOperation.Core.DTOs

@{
    ViewData["Title"] = "Index";
}
@model List<StandartStoppingDto>
<h1>Standart Duruşlar</h1>
<a class="btn btn-primary" asp-controller="StandartStopping" asp-action="Save">Yeni Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            
            <td>Başlangıç</td>
            <td>Bitiş</td>
            <td>Duruş Nedeni</td>
            <td>Düzenle</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StartTime.ToString(@"hh\:mm")</td>
                <td>@item.EndTime.ToString(@"hh\:mm")</td>
                <td>@item.StoppingReason</td>
                <td>
                    <a class="btn btn-warning" asp-controller="StandartStopping" asp-action="Update" asp-route-id="@item.Id">Düzenle</a>
                    <a class="btn btn-danger" asp-controller="StandartStopping" asp-action="Remove" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

