@using ProductOperation.Core.DTOs
@{
    ViewData["Title"] = "AnaSayfa";
}

@model List<ProductionOperationDTO>


<div class=col-md-6>

    <form asp-action="Index" method="post" asp-controller="Home">

        <div class="form-group">
            <label>Başlangıç</label>
            <input type="date" name="datetime" value="@DateTime.Parse("2020-05-23").ToString("yyyy-MM-dd")" />
        </div>

        <div class="form-group">
            <input type="submit" value="Üretim Operasyonlarını Getir" class="btn-primary" />
        </div>
    </form>
</div>

@if (Model != null)
{
    if (Model.Count>0)
    {
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Başlangıç</td>
                        <td>Bitiş</td>
                        <td>Toplam Süre(Saat)</td>
                        <td>Statü</td>
                        <td>Duruş Nedeni</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.No</td>
                            <td>@item.StartDateTime.ToString("MM/dd/yyyy HH:mm")</td>
                            <td>@item.EndDateTime.ToString("MM/dd/yyyy HH:mm")</td>
                            <td>@item.TotalTime.ToString(@"hh\:mm")</td>
                            <td>@(item.Status?"Üretim":"Duruş")</td>
                            <td>@item.StoppingReason</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p> "SEÇTİĞİNİZ @ViewBag.Message İÇİN KAYIT BULUNAMADI"</p>
    }
}

